.background-thanhtoan {
    position: absolute;
    top: 213px;
    left: 200px;
    width: 1520px;
    height: 620px;
    overflow: hidden;
    text-align: justify;
    color: var(--color-black);
    background-color: #FFF6D4;
    border-radius:10px;
    border: dashed #FFB489;
  }
  .bg-icon {
    position: absolute;
    top: 47px;
    left: 48px;
    border-radius: 0 0 var(--br-37xl) var(--br-37xl);
    width: 1838px;
    height: 1012px;
    overflow: hidden;
  }
  .group-icon,
  .image-3-icon {
    position: absolute;
    height: 100%;
    width: 99.93%;
    top: 0;
    right: 0.07%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .image-3-icon {
    height: 31.2%;
    width: 50%;
    top: 8%;
    right: 25%;
    bottom: 60.8%;
    left: 25%;
    object-fit: cover;
  }
  .alt20210501 {
    top: 240px;
    display: flex;
    font-size:30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 31px;
    color:#FFC226;
  }
  .s-lng-12,
.trang-13 {
  position: absolute;
  top: 578px;
  left: 125px;
  font-size: var(--medium1-size);
  line-height: 30px;
  font-weight: 500;
  color: var(--text);
  text-align: left;
}
.trang-13 {
    left: 1312px;
    font-size: var(--medium-size);
    line-height: 26px;
    opacity: 0.5;
  }
  .v-cng {
    top: 299px;
    display: flex;
    font-size:30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 31px;
    color:#FFC226;
  }
  .b,
  .ngay-su-dung,
  .v-cng,
  .alt20210501 {
    position: absolute;
  }
  .ngay-su-dung {
    top: 378px;
    left: 36px;
    font-size: var(--medium-size);
    line-height: 26px;
    font-weight: 500;
    color: var(--text);
  }
  .b {
    top: 300px;
    left: 120px;
    color:#FFC226;
  }
  .tick-1-icon,
  .v-11 {
    position: absolute;
    overflow: hidden;
  }
  .tick-1-icon {
    top: calc(50% + 186px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
  }
  .v-11 {
    height: 95.42%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 4.58%;
    left: 0;
    border-radius: var(--br-base);
    background-color: var(--w);
  }
  .tick-1-icon1,
  .v-1 {
    position: absolute;
    top: 42px;
    left: 125px;
    width: 300px;
    height: 524px;
  }
  .tick-1-icon1 {
    height: 9.16%;
    width: 16%;
    top: 83.21%;
    right: 42%;
    bottom: 7.63%;
    left: 42%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .v-2,
  .v-3,
  .v-4 {
    position: absolute;
    top: 42px;
    left: 448px;
    width: 300px;
    height: 524px;
  }
  .v-3,
  .v-4 {
    left: 771px;
  }
  .v-4 {
    left: 1094px;
  }
  .next-btn-icon,
  .previous-btn-icon {
    position: absolute;
    height: 9.33%;
    width: 3.75%;
    top: 45.72%;
    right: 94.28%;
    bottom: 44.95%;
    left: 1.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .next-btn-icon {
    right: 2.04%;
    left: 94.21%;
  }

  .xem-chi-tit {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 55px);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 20px;
  }
  .group-icon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .span {
    letter-spacing: 0.04em;
  }
  .ti-v-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .ti-v {
    position: absolute;
    height: 50%;
    width: 55%;
    top: 15%;
    left: 22.5%;
    font-weight: 900;
    display: flex;
    align-items: center;
  }
  .xem-chi-tit-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--button);
    overflow: hidden;
  }
  .span1 {
    letter-spacing: 0.09em;
  }
  .alvin-arnold-votay1-1-icon {
    position: absolute;
    top: 347px;
    left: -140px ;
    width: 510px;
    height: 594px;
    object-fit: cover;
  }
  .thanh-ton-thnh {
    position: absolute;
    top: 144px;
    left: 429px;
    font-size: var(--header-size);
    line-height: 100px;
    font-weight: 900;
  }
  .thanh-ton-thnh-cng {
    position: relative;
    border-radius: var(--br-13xl);
    background: radial-gradient(50% 50%at 50% 50%, #ffdb7e, #ff7a00);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--medium-size);
    color: var(--w);
    font-family: var(--koni-28);
  }
  